# Files and directories created by pub
.dart_tool/
.packages
build/
pubspec.lock

# Conventional directory for build outputs
doc/api/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VSCode related
.vscode/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
# .vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.flutter-plugins
.flutter-plugins-dependencies

# macOS
.DS_Store

# Windows
Thumbs.db

# Coverage
coverage/

# Test related
.test_coverage.dart
*.g.dart
*.freezed.dart
*.mocks.dart
